.App {
  text-align: center;
  margin-top: 10px;
}

/* date picker */
.date-picker {
  position: relative;
  display: inline-block;
}

.date-input {
  padding: 10px;
  width: 200px;
}

/* drop down */
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 1px;
  border: 1px solid #ccc;
  width: 222px;
}
